

body{
    background-color: var(--background-color);
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    color: var(--text-color);
    height: 100vh;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card{
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: azure;
    border-radius: 13px;
}

.card .bold{
    font-weight: 800;
    color: #000; 
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

.profile > img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile span{
    color: var(--text-color);
}

hr{
    color: var(--text-color);
    width: 100%;
}

.info{
    padding: 30px 30px;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.info > .info-column{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
}

